.accordian-parent{
    // border: 2px solid green;
    box-sizing: border-box;
}

.accordian-child{
   background-color: lightblue;
   border-radius: 5px;
   color: black;
   margin-bottom: 2px;
}
.accordian-question{
    display: flex;
    justify-content: space-between;
}
.accordian-answer{
    margin: 0px;
}
.open-close:hover{
    cursor: pointer;
}